#canvas {
  background-color:#fff;
  display: block;
  position: fixed;
  top: 0;
  margin: 0;
}

body,li,ul {
  margin:0;padding: 0;
}

.icon {
  width: 2em; height: 2em;
  vertical-align: -0.15em;
  fill:currentColor;
  overflow: hidden;
  transition: 0.3s;
}

.actions {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.actvie {
  fill:red;
}

ul,ol,li{
  display: inline-block;
  list-style: none;
}

.colorChange {
  position: fixed;
  bottom: 10px;
  right: 10px;
 }

.colorChange .icon {
  width: 1.5em;
  height: 1.5em;
 }

 .colorChange li {
   display: block;
 }

.black {
  fill: black;
}
.red {
  fill: red;
}

.blue {
  fill: blue;
}

.green {
  fill: green;
}

.colorChange .icon.change {
  display: block;
}

.colorChange .icon{
  display: none;
}

.colorChange .icon.act{
  display: block;
}


